# Supabase
# Obtenha esses valores em: https://app.supabase.com > Project Settings > API
SUPABASE_URL=
SUPABASE_ANON_KEY=

# OpenRouteService API Key
# Obtenha em: https://openrouteservice.org/
ORS_API_KEY=
